<h1>Listing news_items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Featured</th>
      <th>Enabled</th>
      <th>Feature image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @news_items.each do |news_item| %>
      <tr>
        <td><%= news_item.title %></td>
        <td><%= news_item.body %></td>
        <td><%= news_item.featured %></td>
        <td><%= news_item.enabled %></td>
        <td><%= news_item.feature_image %></td>
        <td><%= link_to 'Show', news_item %></td>
        <td><%= link_to 'Edit', edit_news_item_path(news_item) %></td>
        <td><%= link_to 'Destroy', news_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New News item', new_news_item_path %>
