<h1>News Items</h1>

<table>
  <thead>
    <tr class='h'>
      <th>Title</th>
      <th class="center">Featured</th>
      <th class="center">Enabled</th>
      <th class="center">Feature image</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @news_items.each do |news_item| %>
      <tr class="<%= cycle 'one', 'two' %>">
        <td><%= news_item.title %></td>
        <td class="center">
          <%= image_tag "icons/#{news_item.featured? ? 'tick' : 'cross'}.png" %>
        </td>
        <td class="center">
          <%= image_tag "icons/#{news_item.enabled? ? 'tick' : 'cross'}.png" %>
        </td>
        <td class="center">
          <%= image_tag "icons/#{news_item.image.url == '/images/original/missing.png' ? 'cross' : 'tick'}.png" %>
        </td>
        <td class="center">
          <%= link_to 'Show', news_item %>
          <%= link_to 'Edit', edit_news_item_path(news_item) %>
          <%= link_to 'Destroy', news_item, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="center"><%= link_to 'New News item', new_news_item_path, class: "btn btn-success" %></div>
